.recipe-item{
    border: 1px solid red;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(250,100,0,1);
    background-color: #ffffff;
}

.recipe-item p{
    color: #fa6400;
    font-weight: 700;
    font-size: 20px;
    margin: 12px 0 12px 0px;
}

.recipe-item button{
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    padding: 12px 40px;
}