.form{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    gap: 20px;
}

.form input{
    padding: 10px 50px;
}

.form button{
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    padding: 10px 40px;
}

.form button:disabled{
    opacity: 0.65;
}